<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="style.css" />
      <title>Card Design</title>
   </head>
   <body>
      <!-- Normal Card Design -->
      <div id="cards">
         <!-- Card-1 -->
         <div class="card">
            <img src="https://i.ibb.co/gJ0HsDY/profile-pic.jpg" alt="" />
            <div id="card-body">
               <div id="card-title">
                  <h2>Sagor Majomder</h2>
               </div>
               <div id="card-description">
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Labore animi eum quia officia asperiores eos cumque ullam
                     tempore exercitationem minima.
                  </p>
               </div>
            </div>
         </div>

         <!-- Card-2 -->
         <div class="card">
            <img src="https://i.ibb.co/NxH9k4P/iphone.jpg" alt="" />
            <div id="card-body">
               <div id="card-title">
                  <h2>Sagor Majomder</h2>
               </div>
               <div id="card-description">
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Labore animi eum quia officia asperiores eos cumque ullam
                     tempore exercitationem minima.
                  </p>
               </div>
            </div>
         </div>
         <!-- card-3 -->
         <div class="card">
            <img src="https://i.ibb.co/JyJ6smS/computer.jpg" alt="" />
            <div id="card-body">
               <div id="card-title">
                  <h2>Sagor Majomder</h2>
               </div>
               <div id="card-description">
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Labore animi eum quia officia asperiores eos cumque ullam
                     tempore exercitationem minima.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
