:root {
   font-size: $font-base-size;
}
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   width: 100vw;
   height: 200vh;
   font-family: $font-base-family;
   overflow-x: hidden;
}
a {
   text-decoration: none;
}
img {
   max-width: 100%;
}
.box-shadow {
   box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
}
