// Font
$font-base-family: "poppins", sans-serif;
$font-base-size: 16px;

//colors
$color-primary: #ff512f;
$color-secondary: #dd2476;
// Gradient
$linear-gradient: linear-gradient(60deg, #ff512f, #dd2476);
