<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Image Hover Overly Background</title>
      <!-- font Awesone -->
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
         integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"
      />
      <link rel="stylesheet" href="./css/style.min.css" />
   </head>
   <body>
      <h1>Image Hover Overly Background</h1>
      <div id="cards">
         <!-- Card 1 -->
         <div class="card">
            <div class="img-div img-div1">
               <img src="./Img/photo-1.jpg" alt="" />
            </div>
            <div class="card-title">
               <h2>Post 1</h2>
               <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Deserunt ipsam beatae quod suscipit harum fugiat delectus
                  laboriosam perferendis error, vitae cumque, voluptates minima!
                  Numquam dolor deserunt fugiat rem ratione earum.
               </p>
            </div>
            <div class="card-footer card-footer-1">
               <div class="card-inner-footer">
                  <div class="l-img">
                     <img src="./Img/girl.webp" alt="" />
                     <p>Mark Weiens</p>
                  </div>
                  <div class="comments">
                     <p>15 Janu</p>
                     <div class="love">
                        <i class="fa-solid fa-heart"></i>
                        <span>15</span>
                     </div>
                     <div class="co">
                        <i class="fa-solid fa-comment"></i>
                        <span>04</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Card 2 -->
         <div class="card">
            <div class="img-div img-div2">
               <img src="./Img/photo-2.jpg" alt="" />
            </div>
            <div class="card-title">
               <h2>Post 2</h2>
               <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Deserunt ipsam beatae quod suscipit harum fugiat delectus
                  laboriosam perferendis error, vitae cumque, voluptates minima!
                  Numquam dolor deserunt fugiat rem ratione earum.
               </p>
            </div>
            <div class="card-footer card-footer-2">
               <div class="card-inner-footer">
                  <div class="l-img">
                     <img src="./Img/girl.webp" alt="" />
                     <p>Mark Weiens</p>
                  </div>
                  <div class="comments">
                     <p>15 Janu</p>
                     <div class="love">
                        <i class="fa-solid fa-heart"></i>
                        <span>15</span>
                     </div>
                     <div class="co">
                        <i class="fa-solid fa-comment"></i>
                        <span>04</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Card 3 -->
         <div class="card">
            <div class="img-div img-div3">
               <img src="./Img/photo-3.jpg" alt="" />
            </div>
            <div class="card-title">
               <h2>Post 3</h2>
               <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Deserunt ipsam beatae quod suscipit harum fugiat delectus
                  laboriosam perferendis error, vitae cumque, voluptates minima!
                  Numquam dolor deserunt fugiat rem ratione earum.
               </p>
            </div>
            <div class="card-footer card-footer-3">
               <div class="card-inner-footer">
                  <div class="l-img">
                     <img src="./Img/girl.webp" alt="" />
                     <p>Mark Weiens</p>
                  </div>
                  <div class="comments">
                     <p>15 Janu</p>
                     <div class="love">
                        <i class="fa-solid fa-heart"></i>
                        <span>15</span>
                     </div>
                     <div class="co">
                        <i class="fa-solid fa-comment"></i>
                        <span>04</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
