<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel Practise</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <article>
      <img src="./img/pic.jpg" alt="businessman" />
      <blockquote class="text-field">
        <q class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
          iste quos, aspernatur sed quod laboriosam voluptas maxime quo? Quidem
          temporibus recusandae doloremque qui fugit et enim numquam nihil,
          repellat pariatur.
        </q>
        <p class="author">Sagor Majomder</p>
        <p class="author-info">CEO and Owner of TechJahaj</p>
      </blockquote>
      <button class="arrow arrow--left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <button class="arrow arrow--right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
      <div class="buttons">
        <button class="circle">&nbsp;</button>
        <button class="circle">&nbsp;</button>
        <button class="circle">&nbsp;</button>
        <button class="circle">&nbsp;</button>
      </div>
    </article>
  </body>
</html>
