* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1;
  color: #edf2ff;
}

article {
  width: 700px;
  margin: 100px auto;
  background-color: #4263eb;
  display: flex;
  padding: 20px;
  padding-left: 60px;
  gap: 50px;
  border-radius: 5px;
  align-items: center;
  position: relative;
}
img {
  height: 150px;
  border-radius: 5px;
  transform: scale(1.6);
}
.text {
  font-weight: bold;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 30px;
}
.author {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.author-info {
  font-size: 0.7rem;
}
.author,
.author-info {
  columns: #bac8ff;
}
.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
}
.arrow--left {
  left: 0;
  transform: translate(-50%, -50%);
}
.arrow--right {
  right: 0;
  transform: translate(50%, -50%);
}
.icon {
  width: 24px;
  height: 24px;
  stroke: #4263eb;
}
.buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  left: 50%;
  transform: translate(-50%, 16px);
}
.circle {
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #4263eb;
}
.circle:first-child {
  background-color: #4263eb;
}
