/* General CSS */
:root {
   font-size: 16px;
}
body {
   overflow-x: hidden;
}
* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}
.container {
   width: 100%;
   height: 100vh;
}
img {
   max-width: 100%;
}
a {
   text-decoration: none;
}
section {
   width: 86%;
   margin: 30px auto;
   padding: 40px;
}
/* Header CSS */
.logo {
   position: absolute;
   top: 50px;
   left: 90px;
}
.logo a {
   text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
   font-weight: bold;
   color: #2f2e41;
   font-size: 2rem;
   letter-spacing: 1px;
}
.search-area {
   position: fixed;
   top: 50px;
   right: 105px;
   z-index: 1;
}
.search-area,
.btn,
.c-button {
   width: 150px;
   height: 45px;
   background-color: #fff;
   border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
   border: 1px solid rgba(167, 158, 245, 0.1);
   box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 20px;
}
.search-area input {
   width: 95px;
   border: none;
   outline: none;
   color: #1f1f1f;
   font-size: 1rem;
   padding: 0 10px;
   background-color: transparent;
}
.search-area input::placeholder {
   color: #1d1d1d;
   font-weight: 400;
   letter-spacing: 2px;
   font-size: 0.8rem;
   font-family: poppins;
}
/* Section1 CSS */
#section1 {
   position: relative;
   top: 40%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.section1-img img {
   height: 300px;
}
.section1-button h1,
.section1-button h2 {
   font-family: Roboto;
   font-weight: bold;
   line-height: 60px;
   font-size: 4rem;
   color: #3d3d4a;
   text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
   text-transform: uppercase;
}
.section1-button h1 {
   letter-spacing: 30px;
}
.color {
   display: inline-block;
   color: #7a72ff;
}
.btn,
.c-button {
   height: 40px;
   width: 145px;
   margin-top: 20px;
   background-color: #2f2e41;
   color: white;
   font-weight: 600;
   cursor: pointer;
   border: transparent;
   transition: 0.5s;
}
.btn:hover {
   background-color: #7a72ff;
}
/* Social Area CSS */
.iconArea {
   background-color: #fff;
   width: 48px;
   height: 240px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   position: fixed;
   left: 44px;
   top: 30%;
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
   border-radius: 20px;
   z-index: 1;
}
.iconArea a {
   color: #525252;
   transition: 0.5s;
}
.iconArea a:hover .fa-facebook-f {
   color: #3b5998;
}
.iconArea a:hover .fa-twitter {
   color: #00acee;
}
.iconArea a:hover .fa-instagram {
   color: #517fa4;
}
.iconArea a:hover .fa-youtube {
   color: #ff0000;
}
/* product Section css and showcase section css */
.product-section {
   background-color: #fff;
   box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
   border-color: #fff;
   border-radius: 10px;
}
.product-section h3 {
   font-family: myriad pro;
   letter-spacing: 2px;
   text-align: center;
   font-size: 2rem;
   font-weight: 700;
   padding: 40px;
   color: #323543;
}
.productlist {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
.product-box {
   padding: 18px;
   position: relative;
   width: 29%;
   height: 330px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   margin: 20px;
}
.product-box img {
   height: 180px;
}
.product-box:hover {
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
   border-color: #fff;
}
.card-description p {
   color: #b1b1b1;
   font-family: myriad pro;
   font-size: 0.9rem;
}
.card-description a {
   display: inline-block;
   margin-top: 10px;
   font-family: Roboto;
}
.card-button {
   position: absolute;
   top: 88%;
   visibility: hidden;
   opacity: 0;
}
.c-button {
   background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
   font-weight: 500;
   font-family: myriad pro;
}
.product-box:hover .card-button {
   visibility: visible;
   opacity: 1;
}
/* About Section */
#about-section {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.a-s-left,
.a-s-right {
   width: 42%;
}

.a-s-left h1 {
   color: #333333;
   font-weight: 700;
   font-size: 3rem;
   margin: 0px;
}

.a-s-left h4 {
   color: #333333;
   font-weight: 400;
   font-size: 2rem;
   margin-top: 10px;
   margin-bottom: 10px;
}

.a-s-left p {
   color: #bdbdbd;
   letter-spacing: 0.5px;
   text-align: justify;
}

/* Subscribe Section */
#subscribe {
   text-align: center;
}
.subscribe-box {
   margin: 30px auto;
   max-width: 50%;
   height: 70px;
   background-color: #fff;
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
   border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
   display: flex;
   align-items: center;
   padding: 5px 20px;
}
.subscribe-box input {
   border: none;
   outline: none;
   width: 100%;
   height: 40px;
   background-color: transparent;
}

.noti-btn {
   margin-top: 0;
   width: 110px;
   border-radius: 20px;
   text-transform: uppercase;
}

footer {
   background-color: black;
   padding: 20px;
}
footer p {
   color: white;
   text-align: center;
}
/* Responsive */
@media screen and (max-width: 1210px) {
   .iconArea {
      left: 7%;
   }
   #about-section {
      flex-direction: column;
   }
   .a-s-left,
   .a-s-right {
      width: 70%;
   }
   .a-s-left {
      margin-bottom: 60px;
   }
}

@media screen and (max-width: 1024px) {
   #section1 {
      top: 28%;
      flex-direction: column;
   }
   .section1-img {
      margin-top: -20px;
      margin-bottom: 50px;
   }
   .section1-img img {
      height: 200px;
   }
   .section1-button {
      margin-left: 35px;
   }
   .section1-button h1,
   .section1-button h2 {
      font-size: 2.8rem;
      letter-spacing: 26px;
   }
   .section1-button h2 {
      letter-spacing: 4px;
   }
   .section1-button .btn-1 {
      margin: 10px auto;
   }
}

@media screen and (max-width: 850px) {
   .product-box {
      width: 100%;
   }
}

@media screen and (max-width: 610px) {
   .search-area {
      top: 100px;
      right: 33%;
   }
   .subscribe-box {
      max-width: 100%;
   }
}
@media screen and (max-width: 388px) {
   .search-area {
      right: 28%;
   }
   #section1 {
      top: 32%;
   }
   .section1-img img {
      height: 150px;
   }

   .section1-button h1,
   .section1-button h2 {
      font-size: 2rem;
      letter-spacing: 20px;
   }
   .section1-button h2 {
      letter-spacing: 3px;
   }

   .logo {
      left: 50px;
   }
}
