// color
$color-primary: #8490ff;
$color-secondary: #f9f9ff;
$color-third: #63bdfc;
$color-text: #777;
$color-heading: #222222;
$color-selection: white;
$gradient: linear-gradient(90deg, $color-primary, $color-third);
$bg_responsive_mobile_menu: black;
$color_responsive_mobile_menu: white;

// text
$font_checkbtn: 23px;
$base-font: "Poppins", sans-sarif;
$base-size: (
   "normal": 300,
   "semi-normal": 400,
   "medium": 500,
   "semi-medium": 600,
   "bold": 700,
);
