// Variable
$txt-color: white;
$header-color: #0d3f5e;
$bg-body: #4b8caf;
$bg-cal: #c8dfec;
$cal-color: #5d6d7a;
$ans-color: #0c486d;
$sci-button-color: #306688;
$red-button-color: #f3676b;
$cal-sybol-color: #f0a534;
$equal-color: #27cf55;
// Reset CSS
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   width: 100vw;
   height: 100vh;
}
a {
   text-decoration: none;
   color: $txt-color;
}
// Extend
.n-br-ot {
   border: none;
   outline: none;
}
// Mixins
@mixin d-flex($j-con, $a-con) {
   display: flex;
   justify-content: $j-con;
   align-items: $a-con;
}
// Main CSS
body {
   @include d-flex(center, center);
   background-color: $bg-body;
}
// Calculator Body Design
#calculator {
   background-color: $bg-cal;
   width: 300px;
   height: 550px;
   border-radius: 10px;
   h3 {
      color: $header-color;
      text-align: center;
      padding-top: 10px;
      font-size: 1.3rem;
   }
}
// Screen Design
#screen {
   height: 100px;
   padding: 10px;
   input {
      background-color: $bg-cal;
      width: 100%;
      @extend .n-br-ot;
      @include d-flex(space-around, center);
      flex-direction: column;
      text-align: right;
   }
}
#in-1 {
   color: $cal-color;
   font-size: 18px;
   height: 40%;
   padding: 0 10px;
}
#in-2 {
   color: $ans-color;
   font-size: 30px;
   font-weight: bold;
   height: 60%;
   padding: 0 10px;
}
// Buttons Design
#buttons {
   height: 72%;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(6, 1fr);
   grid-template-areas:
      "s s s s s s s s s s s s"
      "d d d d d d d d d c c c"
      "d d d d d d d d d c c c"
      "d d d d d d d d d c c c"
      "d d d d d d d d d c c c"
      "d d d d d d d d d c c c";
}
.scientific {
   grid-area: s;
   @include d-flex(space-around, center);
   a {
      width: 50px;
      height: 35px;
      @include d-flex(center, center);
      font-size: 18px;
      border-radius: 25px;
      background-color: $sci-button-color;
      text-align: center;
   }
}
.digits {
   margin-left: -15px;
   grid-area: d;
   @include d-flex(space-evenly, center);
   flex-flow: row wrap;
   a {
      @include d-flex(center, center);
      width: 50px;
      height: 50px;
      font-size: 20px;
      margin-left: 17px;
      margin-top: 10px;
      border-radius: 15px;
      background-color: $sci-button-color;
   }
}
#remove {
   background-color: $red-button-color;
}
.calculation {
   @include d-flex(space-evenly, center);
   flex-direction: column;
   grid-area: c;
   a {
      @include d-flex(center, center);
      width: 50px;
      height: 50px;
      font-size: 20px;
      margin-top: 10px;
      border-radius: 15px;
      background-color: $cal-sybol-color;
   }
}
