.btn-text {
   padding: 0.5rem;
   font-size: $default-font-size;
   transition: all 0.2s;
   color: $color-primary;
   border-bottom: 1px solid $color-primary;
   background-color: transparent;

   &:hover {
      color: $color-white;
      background-color: $color-primary;
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
   }
}
