*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #8490ff;
  color: white;
}

*::selection {
  background-color: #8490ff;
  color: white;
}

body {
  font-family: "Poppins", sans-sarif;
  background-color: #f9f9ff;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.drop, ul li .drop-menu, ul li .drop-menu li .sub-drop-menu {
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 180px;
  padding: 5px 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  background-image: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#63bdfc));
  background-image: linear-gradient(90deg, #8490ff, #63bdfc);
  padding: 10px 20px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -webkit-box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
          box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}

section {
  padding: 60px 0 0 0;
}

header {
  position: relative;
  background-color: #fff;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-box-shadow: 2px 2px 60px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 60px 8px rgba(0, 0, 0, 0.2);
}

.container {
  width: 85%;
  padding: 15px 10px;
  margin: 0 auto;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-left: -20px;
}

.logo a {
  display: block;
}

.check {
  display: none;
}

.checkbtn {
  font-size: 23px;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

ul li {
  padding: 5px 10px;
  position: relative;
}

ul li .selected {
  color: #8490ff;
}

ul li a {
  color: black;
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
  text-transform: uppercase;
}

ul li:hover > a {
  color: #8490ff;
}

ul li .drop-menu {
  right: 12px;
  top: 100%;
  z-index: inherit;
  visibility: hidden;
  opacity: 0;
  margin: 15px 0;
}

ul li .drop-menu li a {
  font-size: 12px;
  text-transform: capitalize;
}

ul li .drop-menu li .sub-drop-menu {
  top: 0;
  right: 107%;
  visibility: hidden;
  opacity: 0;
}

ul li .drop-menu li:hover .sub-drop-menu {
  visibility: visible;
  opacity: 1;
}

ul li:hover .drop-menu {
  visibility: visible;
  opacity: 1;
}

.banner-section {
  margin-top: 90px;
}

.main-banner {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-banner .left-banner-section {
  margin-top: 50px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.main-banner .right-banner-section {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.main-banner .right-banner-section img {
  max-width: 80%;
  margin-left: 55px;
}

.left-banner-h3, .service-box h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-top: 15px;
  color: #222222;
  font-family: "Poppins", sans-sarif;
}

.left-banner-h1, .service-header h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4rem;
  color: #222222;
  font-family: "Poppins", sans-sarif;
  margin-top: 15px;
}

.left-banner-p, .service-header p, .service-box p {
  text-align: justify;
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-sarif;
  font-size: 0.9rem;
  margin-top: 15px;
  width: 70%;
}

.banner-btn {
  margin-top: 20px;
}

.banner-2 {
  background-color: #fff;
  padding: 30px;
}

.banner-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner-section-2 .left-banner-section-2 {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.banner-section-2 .left-banner-section-2 img {
  max-width: 95%;
}

.banner-section-2 .right-banner-section-2 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-left: 80px;
}

.banner-section-2 .right-banner-section-2 .right-banner-h3 {
  margin-bottom: 25px;
  letter-spacing: 0;
}

.banner-section-2 .right-banner-section-2 .right-banner-h1 {
  font-size: 2.2rem;
  margin-bottom: 35px;
}

.banner-section-2 .right-banner-section-2 .right-banner-p {
  margin-bottom: 35px;
  width: 100%;
}

.service-header {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.service-header h1 {
  text-transform: none;
  font-size: 2rem;
}

.service-header p {
  text-align: center;
  width: 100%;
}

.service-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  margin: 40px 0;
}

.service-box {
  margin: 10px 10px 0 0;
  padding: 20px;
  text-align: center;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-box .fas {
  font-size: 2rem;
  margin-bottom: 15px;
}

.service-box h3 {
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1.1rem;
  margin: 0;
}

.service-box p {
  text-align: center;
  margin: 0;
}

.service-box:hover .fas {
  color: #8490ff;
}

.service-box:hover h3 {
  color: #8490ff;
}

#counter {
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#63bdfc));
  background: linear-gradient(90deg, #8490ff, #63bdfc);
}

.counter-body {
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.counter-body h1 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #f9f9ff;
}

.counter-body p {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #f9f9ff;
}

.project-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-body .project-titile {
  text-align: center;
  margin: 55px 0;
}

.project-body .project-titile h1 {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 35px;
}

.project-body .project-titile p {
  text-align: center;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

.project-body .project-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 400px;
  margin: 25px 0;
}

.project-body .project-nav a {
  font-weight: 500;
  font-size: 12px;
  color: #222222;
  position: relative;
}

.project-body .project-nav a:first-child {
  color: #8490ff;
}

.project-body .project-nav a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.project-body .project-nav a:hover::before {
  width: 50%;
}

.project-body .project-nav a:first-child::before {
  width: 0;
}

.image-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-row .first-image {
  margin: 20px 0;
  text-align: center;
}

.image-row .first-image .img-div {
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#63bdfc));
  background: linear-gradient(90deg, #8490ff, #63bdfc);
  width: 350px;
  height: 350px;
  border-radius: 10px;
  cursor: pointer;
}

.image-row .first-image .img-div img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.image-row .first-image .img-div img:hover {
  opacity: 0.2;
}

.image-row .first-image .img-title {
  margin-top: 10px;
}

.image-row .first-image .img-title h4 {
  font-size: 18px;
  font-weight: 600;
}

.image-row .first-image .img-title p {
  font-size: 14px;
  font-weight: 300;
}

#feedback {
  position: relative;
}

.feedback-header {
  margin: 55px 0;
  max-width: 100%;
}

.clients_Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clients_Info .client {
  padding: 10px 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 45%;
}

.clients_Info .client img {
  width: 40px;
}

.clients_Info .client .info {
  margin-left: 25px;
  font-size: 14px;
  color: #777;
  font-weight: 300;
}

.clients_Info .client .info .sig {
  margin: 10px 0;
}

.clients_Info .client .info .sig h3 {
  color: #222222;
  margin-bottom: 5px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 70%;
  right: 3%;
  -webkit-box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
          box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
}

.arrow .icon {
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid white;
}

.arrow .icon:hover {
  background-color: #8490ff;
  color: white;
}

hr {
  opacity: 0.1;
}

.prices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 85px 0;
}

.prices .price {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 300;
  height: 550px;
  width: 300px;
}

.prices .price .circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #e2e5ff;
  position: relative;
}

.prices .price .circle .inner-circle {
  width: 80px;
  height: 80px;
  background-color: rgba(241, 241, 243, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.prices .price .circle .inner-circle h1 {
  font-weight: 300;
  font-size: 35px;
}

.prices .price .border-content,
.prices .price .title {
  width: 90%;
  text-align: center;
}

.prices .price .border-content h3,
.prices .price .title h3 {
  font-weight: 600;
}

.prices .price .border-content p,
.prices .price .title p {
  margin: 10px 0;
  color: #777;
  font-size: 14px;
}

.prices .price h1 {
  font-size: 38px;
  font-weight: 600;
}

.prices .price:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#63bdfc));
  background: linear-gradient(90deg, #8490ff, #63bdfc);
}

.prices .price:hover .inner-circle {
  background: #81acfd;
  color: white;
}

.prices .price:hover .border-content p,
.prices .price:hover .border-content h3,
.prices .price:hover .title p,
.prices .price:hover .title h3 {
  color: white;
}

.prices .price:hover hr {
  opacity: 1;
  border-top: 0.2px solid white;
  height: 1px;
}

.prices .price:hover .price-button {
  visibility: visible;
  color: black;
}

.prices .price:hover .money {
  visibility: hidden;
}

.prices .price-button {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px;
  background-color: white;
  bottom: 40px;
  visibility: hidden;
}

.post-header {
  width: 800px;
  margin: auto;
  padding: 10px;
}

.post-box {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post-box .box {
  cursor: pointer;
  width: 31%;
}

.post-box .box .img-div {
  overflow: hidden;
}

.post-box .box .img-div img {
  width: 100%;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.post-box .box:hover .img-div img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.post-box .box:hover .box-titile h4 {
  color: #8490ff;
}

.post-box .likes {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 15px;
}

.post-box .likes .l-img {
  width: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post-box .likes .l-img img {
  width: 35px;
}

.post-box .likes .l-img p {
  font-size: 14px;
  color: #777;
}

.post-box .likes .comments {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #777;
  font-weight: 300;
  font-size: 14px;
}

.post-box .box-titile h4 {
  margin-top: 20px;
  font-weight: 600;
}

.post-box .box-titile p {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

#partner {
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#63bdfc));
  background: linear-gradient(90deg, #8490ff, #63bdfc);
  margin-top: 50px;
  padding: 0;
}

.partner-body {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 250px;
}

.partner-body img {
  opacity: 0.5;
}

.partner-body img:hover {
  opacity: 1;
}

footer {
  padding: 100px 0;
  background-color: #00031e;
  color: white;
}

.f-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.f-height {
  height: 150px;
}

.about-me {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me p {
  font-weight: 300;
  font-size: 14px;
  color: #777;
}

.about-me a {
  color: #8490ff;
}

.newletter {
  position: relative;
  width: 35%;
}

.newletter p {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.newletter input {
  display: block;
  margin-top: 20px;
  width: 80%;
  height: 40px;
  padding: 0 15px;
  font-size: 18px;
  outline: 0;
  border: 0;
}

.newletter input::-webkit-input-placeholder {
  font-size: 14px;
}

.newletter input:-ms-input-placeholder {
  font-size: 14px;
}

.newletter input::-ms-input-placeholder {
  font-size: 14px;
}

.newletter input::placeholder {
  font-size: 14px;
}

.newletter .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newletter .f-arrow {
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  width: 50px;
  background-color: #8490ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.follow p {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.follow .f-icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
}

.follow .f-icons .fa-facebook-f:hover {
  color: #8490ff;
}

.follow .f-icons .fa-twitter:hover {
  color: #8490ff;
}

.follow .f-icons .fa-pinterest-p:hover {
  color: #8490ff;
}

.follow .f-icons .fa-behance:hover {
  color: #8490ff;
}

@media screen and (max-width: 1150px) {
  .main-banner {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main-banner .left-banner-section h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .banner-section-2 .right-banner-section-2 {
    margin: 0;
  }
  .banner-section-2 .right-banner-section-2 .right-banner-h1 {
    font-size: 1.5rem;
  }
  .service-grid {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media screen and (max-width: 1050px) {
  .prices {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 950px) {
  nav .checkbtn {
    display: block;
  }
  nav ul {
    width: 40vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    position: absolute;
    left: -110%;
    background-color: black;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    display: inline-block;
    width: inherit;
    color: white;
    position: relative;
  }
  nav ul li a .fully-right {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  nav #check:checked ~ ul {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .partner-body {
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .partner-body img {
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .banner-section {
    margin: 0;
  }
  .main-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-banner .left-banner-section,
  .main-banner .right-banner-section {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main-banner .left-banner-section img,
  .main-banner .right-banner-section img {
    max-width: 70%;
  }
  .banner-section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-section-2 .left-banner-section-2,
  .banner-section-2 .right-banner-section-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .banner-section-2 .left-banner-section-2 img,
  .banner-section-2 .right-banner-section-2 img {
    max-width: 100%;
  }
  .service-header {
    max-width: 100%;
  }
  .service-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .counter-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }
  .counter-body .c-list {
    padding: 20px;
  }
  .image-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .arrow {
    top: 102%;
    left: 50%;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .f-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .f-body .now {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 50px;
  }
  .f-icons {
    width: 150px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 70%;
  }
  .service-header {
    max-width: 100%;
  }
  .clients_Info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients_Info .client {
    width: 100%;
  }
  .post-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-box .box {
    width: 100%;
  }
  .about-me h3 {
    margin-bottom: 5px;
  }
  .about-me p {
    margin: 5px 0;
  }
  .follow {
    margin-top: 20px;
  }
}

@media screen and (max-width: 750px) {
  .prices .price {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .f-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .f-body .now {
    width: 100%;
  }
}
