<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Web Application Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>Nav</nav>
    <menu>
      <button class="menu-btn">Home</button>
      <button class="menu-btn">write</button>
      <button class="menu-btn">read</button>
      <button class="menu-btn">trash</button>
    </menu>
    <section>
      <button class="inbox-btn">Inbox 1</button>
      <button class="inbox-btn">Inbox 2</button>
      <button class="inbox-btn">Inbox 3</button>
      <button class="inbox-btn">Inbox 4</button>
      <button class="inbox-btn">Inbox 5</button>
      <button class="inbox-btn">Inbox 6</button>
      <button class="inbox-btn">Inbox 7</button>
      <button class="inbox-btn">Inbox 8</button>
      <button class="inbox-btn">Inbox 9</button>
      <button class="inbox-btn">Inbox 10</button>
    </section>
    <main>Email View</main>
    <aside>Additonal Info</aside>
  </body>
</html>
