<!-- https://wordpress.org/patterns/pattern/cover-with-a-gradient-overlay-over-image-with-a-text-content-heading-and-a-paragraph-collection-1/ -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
         rel="stylesheet"
      />
      <!-- Custom CSS -->
      <link rel="stylesheet" href="style.css" />
      <title>Document</title>
   </head>
   <body>
      <section class="section-project">
         <div class="container gradient">
            <div class="grid">
               <div class="container__overlay">
                  <div>
                     <h2 class="overlay__heading">770</h2>
                     <p class="overlay_para">Projects</p>
                  </div>
                  <div class="show-box">
                     <div class="overlay__show-box b-right">
                        <p class="show-box__sub-heading">6500+</p>
                        <span class="show-box__text">Cups of coffee</span>
                     </div>
                     <div class="overlay__show-box j-end">
                        <p class="show-box__sub-heading">2000+</p>
                        <span class="show-box__text">Hours of work</span>
                     </div>
                  </div>
               </div>
               <div class="container__text-box">
                  <h1 class="text-box__heading">
                     A goal without a plan is just a wish
                  </h1>
                  <p class="text-box__para">
                     Morbi ac ultricies dolor. Donec eget rhoncus quam. Donec
                     consequat, ante vel vestibulum placerat, metus ante pretium
                     orci, ac hendrerit nulla dui ac purus.
                  </p>
                  <ul class="text-box__list">
                     <li>Vivamus varius tincidunt ante eget consectetur</li>
                     <li>Sed mollis rhoncus quam mattis fringilla</li>
                     <li>Nullam iaculis congue rutrum</li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>
