<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="style.css" />
      <title>Rotation card</title>
   </head>
   <body>
      <div class="card">
         <div class="card__side card__side--front">
            <div
               role="img"
               aria-label="Background image for card"
               class="card__image">
               &nbsp;
            </div>
            <h2 class="card__heading">
               <span class="card__heading-span">The Sea Explorer</span>
            </h2>
            <ul class="card__text-box">
               <li class="card__text">3 days tours</li>
               <li class="card__text">Upto 30 people</li>
               <li class="card__text">2 tour guides</li>
               <li class="card__text">Sleep in cozy hotel</li>
               <li class="card__text">Difficulty: easy</li>
            </ul>
         </div>
         <div class="card__side card__side--back">
            <div class="card__cta">
               <div class="card__price-box">
                  <p class="card__price-text">Only</p>
                  <p class="card__price">$297</p>
               </div>
               <a href="#" class="btn btn--white">Book now!</a>
            </div>
         </div>
      </div>
   </body>
</html>
